In [22]:
import pandas as pd
import re

In [9]:
data = pd.read_csv('../datasets/FA-KES-Dataset.csv', sep=',', on_bad_lines='skip', encoding='latin1')

In [10]:
data.head()

,unit_id,article_title,article_content,source,date,location,labels
0,1914947530,Syria attack symptoms consistent with nerve ag...,Wed 05 Apr 2017 Syria attack symptoms consiste...,nna,4/5/2017,idlib,0
1,1914947532,Homs governor says U.S. attack caused deaths b...,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,nna,4/7/2017,homs,0
2,1914947533,Death toll from Aleppo bomb attack at least 112,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,nna,4/16/2017,aleppo,0
3,1914947534,Aleppo bomb blast kills six Syrian state TV,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,nna,4/19/2017,aleppo,0
4,1914947535,29 Syria Rebels Dead in Fighting for Key Alepp...,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,nna,7/10/2016,aleppo,0

In [11]:
data = data.drop(columns=['unit_id', 'source', 'date', 'location'])

In [12]:
data.head()

,article_title,article_content,labels
0,Syria attack symptoms consistent with nerve ag...,Wed 05 Apr 2017 Syria attack symptoms consiste...,0
1,Homs governor says U.S. attack caused deaths b...,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,0
2,Death toll from Aleppo bomb attack at least 112,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,0
3,Aleppo bomb blast kills six Syrian state TV,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,0
4,29 Syria Rebels Dead in Fighting for Key Alepp...,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,0

In [ ]:
data['text'] = data['article_title'] + ' ' + data['article_content']
data = data.drop(columns=['article_title', 'article_content'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804 entries, 0 to 803
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   labels  804 non-null    int64
 1   text    804 non-null    object
dtypes: int64(1), object(1)
memory usage: 12.7+ KB

In [16]:
#change the order of the columns
data = data[['text', 'labels']]
data.head()

                                                text  labels
0  Syria attack symptoms consistent with nerve ag...       0
1  Homs governor says U.S. attack caused deaths b...       0
2  Death toll from Aleppo bomb attack at least 11...       0
3  Aleppo bomb blast kills six Syrian state TV We...       0
4  29 Syria Rebels Dead in Fighting for Key Alepp...       0

In [18]:
data['label'] = data['labels']

C:\Users\Matin\AppData\Local\Temp\ipykernel_12064\2425567697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['label'] = data['labels']

In [20]:
data = data.drop(columns=['labels'])

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804 entries, 0 to 803
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    804 non-null    object
 1   label   804 non-null    int64
dtypes: int64(1), object(1)
memory usage: 12.7+ KB

In [23]:
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    # Remove special characters and digits
    text = re.sub(r'\W', ' ', text)
    text = re.sub(r'\d', ' ', text)
    text = re.sub(r'\s+', ' ', text)
    text = re.sub(r'\n', ' ', text)
    # Remove extra whitespace
    text = ' '.join(text.split())
    return text

In [24]:
data['text'] = data['text'].apply(preprocess_text)

data.head()

                                                text  label
0  syria attack symptoms consistent with nerve ag...      0
1  homs governor says u s attack caused deaths bu...      0
2  death toll from aleppo bomb attack at least su...      0
3  aleppo bomb blast kills six syrian state tv we...      0
4  syria rebels dead in fighting for key aleppo r...      0

In [25]:
data['label'].value_counts()

label
1    426
0    378
Name: count, dtype: int64

In [26]:
data['label'].dtype

dtype('int64')

In [28]:
data.to_csv('../datasets/FA-KES-Dataset_cleaned.csv', index=False)